# H1 : Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

#  **Objectives:**
- PYTHON
- R
- SQL

# Some of the popular languages that Data Scientists use are:
1. PYTHON
2. R
3. SQL
4. JAVA
5. SCALA
6. C++
7. JULIA

# Some of the commonly used libraries used by Data Scientists include:
1. PANDA
2. NUMPY
3. SCIPY
4. MATPLOTLIB
5. TENSORFLOW
6. PYTORCH
7. KERAS
8. SCIKIT-LEARN

### Below are a few examples of evaluating arithmetic expressions in Python.

# Development environment open source tools used in data science.
|Data Science Tools|
|------------------|
|RSTUDIO|
|JUPYTER NOTEBOOKS|
|ANACONDA|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers.
print ((3*4)+5)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
print (200/60)

3.3333333333333335

## Author
Mohammed BOUGHABA